body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('login_background.png'); /* 整个页面的背景图 */
    background-size: cover;
    background-position: center;
    height: 100vh; /* 使背景图高度覆盖整个页面 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #4ba6fb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #003db6;
}

.forgot-password {
    margin-top: 15px;
    font-size: 14px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
